.not-found-container {
  display: flex;
  flex-direction: column;
  height: 88vh;
  position: relative;
  top: 12vh;
  background-color: #121212;
}
.responsive-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
}

.not-found-img {
  width: 100%;
  max-width: 400px;
  margin-top: 12px;
}

.not-found-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 500;
  line-height: 1.3px;
  margin-top: 20px;
}
@media screen and (min-width: 768px) {
  .not-found-heading {
    margin-top: 32px;
    font-size: 20px;
  }
}

.not-found-description {
  text-align: center;
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 13px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .not-found-description {
    font-size: 14px;
    width: 60%;
    max-width: 466px;
  }
}
